.containerSearch {
    display:flex;
    flex-direction: column;
    height: 90vh;
    margin-top:2vh


}

.containerListHeroes {
    display: flex;
    align-items: center;
    flex-direction: column;

}